.mago {
    background: linear-gradient(-135deg, #E04445, #E94B4B, #67904D, #25464E);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

.mago .char-name img { 
    margin-top: 10%;
    height: 70%;
    width: 90%;
}

.guerreiro {
    background: linear-gradient(-135deg, #B0ABAF, #962802, #2C3D5E, #392815);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

.guerreiro .char-name img {
    height: 50%;
    width: 60%;
    margin-top: 38%;
}

.paladino {
    background: linear-gradient(-135deg, #F4701B, #848DBF, #F55D86, #A51027);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

.paladino .char-name img {
    margin-top: 15%;
    height: 80%;
    width: 80%;
}

.mago-negro {
    background: linear-gradient(-135deg, #54506D, #420D44, #2A072F, #0D0D0D);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

.mago-negro .char-name img { 
    margin-top: 8%;
    height: 70%;
    width: 60%;
}

.energizado {
    background: linear-gradient(-135deg, #36290C, #34343F, #FEFEFF, #A98F65);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

.energizado .char-name img { 
    margin-top: 12%;
    height: 70%;
    width: 100%;
}

.piromante {
    background: linear-gradient(-135deg, #FE9400, #9D0001, #E5AE18, #9D630B);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

.piromante .char-name img { 
    margin-top: 26%;
    height: 55%;
    width: 100%;
}

.cavaleiro {
    background: linear-gradient(-135deg, #A4CDBD, #B0D9C6, #5A8C75, #3B594B);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
} 

.cavaleiro .char-name img { 
    margin-top: 22%;
    height: 60%;
    width: 80%;
}

.minotauro {
    background: linear-gradient(-135deg, #D98452, #B08363, #D98452, #F2B694 );
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

.minotauro .char-name img {
    margin-top: 35%;
    height: 50%;
    width: 45%;
}

.peregrino {
    background: linear-gradient(-135deg, #013560, #2E8180, #820D0D, #CB770F);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

.peregrino .char-name img {
    margin-top: 10%;
    height: 70%;
    width: 120%;
}

.mago-caos {
    background: linear-gradient(-135deg, #0D0F39, #450173, #C301B6, #033B0C);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

.mago-caos .char-name img {
    margin-top: 20%;
    height: 60%;
    width: 100%;
}



.espirito {
    background: linear-gradient(black, darkgray, black)
}

.espirito .char-name img {
    margin-top: 10%;
    height: 70%;
    width: 90%;
}

.samurai {
    background: linear-gradient(black, darkred, darkgoldenrod)
}

.samurai .char-name img {
    margin-top: 25%;
    height: 60%;
    width: 80%;
}