.music {
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
	bottom: 0;

    margin-right: 94%;
    height: 10%;
    padding-left: 0%;
}

.music button {
    background: transparent;
    border: none;
}

.music img, .music img:hover  {
    height: 6vh;
}