.char-card-background {
    background: linear-gradient(-135deg, purple, darkgoldenrod);
    background: none;
    
    animation: gradient 2s ease infinite;
    background-size: 400% 400%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.char-card {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    animation: gradient 5s ease infinite !important;
    background-size: 400% 400% !important;
    background: none;

    border:none;
}

.char-name {
    display: flex;
    justify-content: center;  
    position: relative;
}