.guerreiro {
    background: linear-gradient(-135deg, #B0ABAF, #962802, #2C3D5E, #392815);
}

.guerreiro .char img {
    margin-top: 13%;
    height: 65%;
    width: 80%;   
}

.piromante {
    background: linear-gradient(-135deg, #FE9400, #9D0001, #E5AE18, #9D630B);
}

.piromante .char img {
    margin-top: -20%;
    height: 70%;
    width: 55%;
}

.cavaleiro {
    background: linear-gradient(-135deg, #A4CDBD, #B0D9C6, #5A8C75, #3B594B);
} 

.cavaleiro .char img { 
    margin-top: -16%;
    height: 80%;
    width: 110%;
    margin-left: -8%;
}

.energizado {
    background: linear-gradient(-135deg, #36290C, #34343F, #FEFEFF, #A98F65);
}

.energizado .char img {
    margin-top: -15%;
    margin-left: 0%;
    height: 60%;
    width: 50%;
}