.char {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 21.9% !important;
    height: 69% !important;
    position: absolute;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 80%;
    width: 21.9% !important;
    height: 69% !important;
    position: absolute;
}

.background img {
    width: 100%;
    height: 100%;
    position: relative;
}